[core]
	excludesfile = ~/.cvsignore
	pager = less -S
[user]
	name = Tim Pope
	email = code@tpop"e.ne"t
[color]
	ui = auto
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	grep = auto
[branch]
	autosetupmerge = always
	autosetuprebase = always
[help]
	autocorrect = 10
[merge]
	summary = true
[push]
	default = tracking
[web]
	browser = dillo
[browser "dillo"]
	path = /home/tpope/bin/sensible-browser
[diff "ruby"]
	funcname = "^ *\\(\\(def\\) .*\\)"
[diff "vim"]
	funcname = "^ *\\(\\(fu\\|aug\\).*\\)"
[alias]
	one = show -s --pretty='format:%h (%s)'
	recursive-update = "!sh -c 'find \"${@-.}\" -type d -name .git -exec dirname {} \\; -exec git --git-dir={} remote update \\;' recursive-update"
	rlog = !sh -c 'git log --color \"$@\"|fmt -s -w 79|less -FRSX' git-rlog
	update = !ruby ~/src/ruby/vendor/gx/git-update.rb
	summary = log --abbrev-commit --pretty=oneline --author="Tim.Pope" --since=last.mon --reverse
