! ~/.Xresources
! vim:set foldmethod=expr foldexpr=getline(v\:lnum)=~'^!##'?'>1'\:'=':

*international: true
*customization: -color

!## TERMINAL COMMON
#ifndef FIXED
#if WIDTH > 1800
#define FIXED -misc-fixed-medium-r-normal--20-*-*-*-c-*
#elif WIDTH > 1450
#define FIXED -misc-fixed-medium-r-normal--18-*-*-*-c-*
#elif WIDTH > 1150
#define FIXED -misc-fixed-medium-r-normal--14-*-*-*-c-*
#else
#define FIXED -misc-fixed-medium-r-semicondensed--13-*-*-*-c-*
#endif
#endif

*color0:  #000000
*color1:  #aa0000
*color2:  #00aa00
*color3:  #aa5522
*color4:  #0000ee
*color5:  #aa00aa
*color6:  #00aaaa
*color7:  #aaaaaa
*color8:  #555555
*color9:  #ff4444
*color10: #44ff44
*color11: #ffff00
*color12: #5c5cff
*color13: #ff00ff
*color14: #00ffff
*color15: #ffffff
*colorBD: #ffffff

!## XTERM
XTerm.customization:     -none
XTerm.background:        #000000
XTerm.VT100.background:  #000000
XTerm.foreground:        #aaaaaa
XTerm.VT100.foreground:  #aaaaaa
XTerm.termName:    xterm-256color
XTerm*ttyModes:    start ^- stop ^-
XTerm*boldMode:    false
XTerm*allowBoldFonts: false
XTerm*scrollBar:   false
!XTerm*backarrowKey: false
XTerm*colorBDMode: true
XTerm*visualBell: true
XTerm*bellIsUrgent: true
XTerm*eightBitInput: false
XTerm*modifyCursorKeys: 2
XTerm*trimSelection: true
XTerm*CharClass: 33:48,37-38:48,45-47:48,58:48,61:48,63-64:48,126:48,161-255:48
XTerm*activeIcon: true
XTerm.VT100.translations: #override \
	Ctrl<Key>comma: scroll-forw(1,page-1) \n\
	Ctrl<Key>period: scroll-back(1,page-1) \n\
	Shift Ctrl<Key>minus: smaller-vt-font() \n\
	Shift Ctrl<Key>equal: larger-vt-font() \n\
	Ctrl<Key>9: smaller-vt-font() \n\
	Ctrl<Key>0: larger-vt-font() \n\
	Ctrl<Key>1: set-render-font(toggle)

#ifdef FIXED
XTerm.VT100.font:         FIXED-iso8859-1
XTerm.font:               FIXED-iso8859-1
XTerm*boldFont:           FIXED-iso8859-1
XTerm*utf8Fonts.font:     FIXED-iso10646-1
XTerm*utf8Fonts.boldFont: FIXED-iso10646-1
#else
XTerm.VT100.font:         -misc-fixed-medium-r-normal--20-*-*-*-c-*-iso8859-1
XTerm.font:               -misc-fixed-medium-r-normal--20-*-*-*-c-*-iso8859-1
XTerm*boldFont:           -misc-fixed-medium-r-normal--20-*-*-*-c-*-iso8859-1
XTerm*utf8Fonts.font:     -misc-fixed-medium-r-normal--20-*-*-*-c-*-iso10646-1
XTerm*utf8Fonts.boldFont: -misc-fixed-medium-r-normal--20-*-*-*-c-*-iso10646-1
#endif
#if WIDTH >= 1920
XTerm*renderFont: true
#endif
XTerm.fontMenu.fontdefault.Label: Default
XTerm.fontMenu.font1.Label: Tiny
XTerm*font1:                -misc-fixed-medium-r-normal--6-*-*-*-c-*-iso8859-1
XTerm*utf8Fonts.font1:      -misc-fixed-medium-r-normal--6-*-*-*-c-*-iso10646-1
XTerm.fontMenu.font2.Label: Small
XTerm*font2:                -misc-fixed-medium-r-normal--8-*-*-*-c-*-iso8859-1
XTerm*utf8Fonts.font2:      -misc-fixed-medium-r-normal--8-*-*-*-c-*-iso10646-1
XTerm.fontMenu.font3.Label: Semicondensed
XTerm*font3:                -misc-fixed-medium-r-semicondensed--13-*-*-*-c-*-iso8859-1
XTerm*utf8Fonts.font3:      -misc-fixed-medium-r-semicondensed--13-*-*-*-c-*-iso10646-1
XTerm.fontMenu.font4.Label: Medium
XTerm*font4:                -misc-fixed-medium-r-normal--14-*-*-*-c-*-iso8859-1
XTerm*utf8Fonts.font4:      -misc-fixed-medium-r-normal--14-*-*-*-c-*-iso10646-1
XTerm.fontMenu.font5.Label: Large
XTerm*font5:                -misc-fixed-medium-r-normal--18-*-*-*-c-*-iso8859-1
XTerm*utf8Fonts.font5:      -misc-fixed-medium-r-normal--18-*-*-*-c-*-iso10646-1
XTerm.fontMenu.font6.Label: Huge
XTerm*font6:                -misc-fixed-medium-r-normal--20-*-*-*-c-*-iso8859-1
XTerm*utf8Fonts.font6:      -misc-fixed-medium-r-normal--20-*-*-*-c-*-iso10646-1
XTerm*faceName: MONOSPACE:MEDIUM
#ifdef MONOSIZE
XTerm*faceSize: MONOSIZE
#else
XTerm*faceSize: 14
#endif
XTerm*faceSize1: 10
XTerm*faceSize2: 12
XTerm*faceSize3: 14
XTerm*faceSize4: 17
XTerm*faceSize5: 21
XTerm*faceSize6: 24

!## RXVT
Rxvt*visualBell:   true
URxvt.urgentOnBell: true
URxvt.termName: rxvt-256color

Rxvt*scrollBar:    false
URxvt.thickness: 4
URxvt.scrollBar_floating: true
URxvt.scrollstyle: plain

Rxvt*background:   #000000
Rxvt*foreground:   #aaaaaa
URxvt.underlineColor: #777777
URxvt.boldFont:
URxvt.italicFont:
URxvt.boldItalicFont:

#ifdef MONOSIZE
URxvt.font: xft:MONOSPACE-MONOSIZE:MEDIUM
#elif WIDTH < 1920
URxvt.font: FIXED-iso10646-1
#else
URxvt.font: xft:MONOSPACE-14:MEDIUM
#endif

URxvt.keysym.M-C-1:     command:\033]710;-misc-fixed-medium-r-normal--6-*-*-*-c-*-iso10646-1\007
URxvt.keysym.M-C-2:     command:\033]710;-misc-fixed-medium-r-normal--8-*-*-*-c-*-iso10646-1\007
URxvt.keysym.M-C-3:     command:\033]710;-misc-fixed-medium-r-semicondensed--13-*-*-*-c-*-iso10646-1\007
URxvt.keysym.M-C-4:     command:\033]710;-misc-fixed-medium-r-normal--14-*-*-*-c-*-iso10646-1\007
URxvt.keysym.M-C-5:     command:\033]710;-misc-fixed-medium-r-normal--18-*-*-*-c-*-iso10646-1\007
URxvt.keysym.M-C-6:     command:\033]710;-misc-fixed-medium-r-normal--20-*-*-*-c-*-iso10646-1\007
URxvt.keysym.M-C-7:     command:\033]710;xft:MONOSPACE-10:MEDIUM\007
URxvt.keysym.M-C-8:     command:\033]710;xft:MONOSPACE-12:MEDIUM\007
URxvt.keysym.M-C-9:     command:\033]710;xft:MONOSPACE-14:MEDIUM\007
URxvt.keysym.M-C-0:     command:\033]710;xft:MONOSPACE-17:MEDIUM\007
URxvt.keysym.M-C-minus: command:\033]710;xft:MONOSPACE-21:MEDIUM\007
URxvt.keysym.M-C-equal: command:\033]710;xft:MONOSPACE-24:MEDIUM\007

URxvt.keysym.C-9:            perl:font-size:decrease
URxvt.keysym.C-0:            perl:font-size:increase
URxvt.keysym.S-C-underscore: perl:font-size:decrease
URxvt.keysym.S-C-plus:       perl:font-size:increase

URxvt.keysym.C-1:      perl:matcher
URxvt.keysym.C-grave:  perl:matcher:list
URxvt.keysym.C-comma:  command:\033]720;12\007
URxvt.keysym.C-period: command:\033]721;12\007

URxvt.keysym.KP_Up: string:\033[A
URxvt.keysym.KP_Down: string:\033[B
URxvt.keysym.KP_Right: string:\033[C
URxvt.keysym.KP_Left: string:\033[D
URxvt.keysym.KP_Begin: string:\033[E
URxvt.keysym.KP_Insert: string:\033[2~
URxvt.keysym.KP_Delete: string:\033[3~
URxvt.keysym.KP_Next: string:\033[5~
URxvt.keysym.KP_Prior: string:\033[6~
URxvt.keysym.KP_Home: string:\033[7~
URxvt.keysym.KP_End: string:\033[8~
URxvt.keysym.KP_Enter: string:\015
URxvt.keysym.KP_Add: string:+
URxvt.keysym.KP_Subtract: string:-
URxvt.keysym.KP_Multiply: string:*
URxvt.keysym.KP_Divide: string:/

URxvt.iso14755_52: false
URxvt.perl-ext:    default,searchable-scrollback<C-S-question>,matcher,selection-pastebin,remote-clipboard,selection-autotransform
URxvt.perl-eval:   push @{ $urxvt::TERM->{selection_popup_hook} }, \n\
	sub { /\\n/ ? ("join lines with spaces" => sub {  s{^\\s+}{}mg; s/ \*\\n/ /g; s{ $}{}; }) : () }, \n\
	sub { /./ ? ("string quote" => sub {  s([\\\\\\042$@]|#[{])(\\\\$&)g; s{\\n}{\\\\n}g; s{\\t}{\\\\t}g; s{\\r}{\\\\r}g; s{[\\000-\\037]}{sprintf("%03o",ord($&))}eg; $_ = qq("$_"); }) : () }, \n\
	sub { /\\n\\[?\\d\\d(\\d\\d-|:)\\d\\d/ ? ("quote for irc" => sub { s{^\\[?[\\d:_-]+\\]? +}{}; s/\\s*\\n\\[?[\\d:_-]{5,}\\]? +/ || /g; s/^\\s+/ /mg; s/( ?) \*\\n( ?)/($1||$2)/eg; s{ $}{}; }) : () };
URxvt.urlLauncher: tpope open
URxvt.selection-pastebin.cmd: scp -p % tpo.pe:pastes
URxvt.selection-pastebin.url: http:\/\/tpo.pe/pastes/%
URxvt.remote-selection.store: ssh tpo.pe 'cat >/tmp/tpope-distributed-selection'
URxvt.remote-selection.fetch: ssh tpo.pe 'cat /tmp/tpope-distributed-selection'
URxvt.selection-autotransform.0: if(/\\n\\[?\\d\\d(\\d\\d-|:)\\d\\d/) { s{^\\[?[\\d:_-]+\\]? +}{}; s/\\s*\\n\\[?[\\d:_-]{5,}\\]? +/ || /g; s/^\\s+/ /mg; s/( ?) \*\\n( ?)/($1||$2)/eg; s{ $}{}; };
URxvt.selection-autotransform.1: if(/^irb.*?> /) { s{^irb.*?[>*]\\s*}{}mg; s/\\n=>/ #=>/mg; s{\\n$}{};}
URxvt.selection-autotransform.2: if(m{^[ab]/}) { s{^[ab]/}{}g; }
URxvt.selection-autotransform.3: s/^([^:\\s]*):(\\d+)(:|:in)?$/+$2 $1/g;

!## XDVI
XDvi.editor: vim -g --remote +%l %f
XDvi.wwwBrowser: xdg-open
XDvi.shrinkFactor: 7
XDvi.expert: true
XDvi.Margin: 1in
XDvi.paper: us
XDvi.mainTranslations: #override \
	<Btn1Down>: do-href()magnifier(*1)\n\
	<Btn2Down>: do-href-newwindow()source-special()\n\
	<Btn3Down>: magnifier(*3)\n
Fig.inches: true

!## XMESSAGE
Xmessage.defaultButton: okay

!## XSCREENSAVER
XScreenSaver.dpmsEnabled: true
XScreenSaver.splash: false
XScreenSaver.ignoreUninstalledPrograms: true
XScreenSaver.loadURL: xdg-open '%s'
XScreensaver.captureStderr: false
XScreensaver.overlayStderr: false

!## XCOLORSEL
Xcolorsel*displayFormat: #rrggbb

!## ROFI
rofi.terminal: tpope terminal
rofi.ssh-client: tpope host shell
rofi.font: MONOSPACE bold 14
