! ~/.Xresources

#ifndef HOME
#define HOME /home/tpope
#endif

*international: true

!## TERMINAL COLORS {{{1
*customization: -color
*color0:  #000000
*color1:  #aa0000
*color2:  #00aa00
*color3:  #aa5522
*color4:  #0000aa
*color5:  #aa00aa
*color6:  #00aaaa
*color7:  #aaaaaa
*color8:  #555555
*color9:  #ff4444
*color10: #44ff44
*color11: #ffff00
*color12: #4444ff
*color13: #ff00ff
*color14: #00ffff
*color15: #ffffff
*colorBD: #ffffff
! }}}1
!## XTERM {{{1
XTerm.background:        #000000
XTerm.VT100.background:  #000000
XTerm.foreground:        #aaaaaa
XTerm.VT100.foreground:  #aaaaaa
XTerm.termName:    xterm-256color
XTerm*ttyModes:    start ^- stop ^-
XTerm*boldMode:    false
XTerm*allowBoldFonts: false
XTerm*scrollBar:   false
!XTerm*backarrowKey: false
XTerm*colorBDMode: true
XTerm*visualBell: true
XTerm*bellIsUrgent: true
XTerm*eightBitInput: false
XTerm*modifyCursorKeys: 2
XTerm*trimSelection: true
XTerm*CharClass: 33:48,37-38:48,45-47:48,58:48,61:48,63-64:48,126:48,161-255:48
XTerm*activeIcon: true
XTerm.VT100.translations: #override \
	Ctrl<Key>comma: smaller-vt-font() \n\
	Ctrl<Key>period: larger-vt-font() \n\
	Ctrl<Key>9: scroll-forw(1,page-1) \n\
	Ctrl<Key>0: scroll-back(1,page-1) \n\
	<Key>XF86Back: string(0x1b) string("[1;2D") \n\
	<Key>XF86Forward: string(0x1b) string("[1;2C")
#define FIXED -misc-fixed-medium-r
#define ISOENC iso8859-1
#define UTFENC iso10646-1
#if WIDTH > 1450
!#define ISOFONT   FIXED-normal--18-*-*-*-c-*-ISOENC
!#define UTFFONT   FIXED-normal--18-*-*-*-c-*-UTFENC
#define ISOFONT   -b&h-lucidatypewriter-medium-r-normal-sans-14-*-*-*-m-*-ISOENC
#define UTFFONT   -b&h-lucidatypewriter-medium-r-normal-sans-14-*-*-*-m-*-UTFENC
!#define ISOFONT2  FIXED-normal--14-*-*-*-c-*-ISOENC
!#define UTFFONT2  FIXED-normal--14-*-*-*-c-*-UTFENC
#define ISOFONT2  FIXED-normal--13-*-*-*-c-80-ISOENC
#define UTFFONT2  FIXED-normal--13-*-*-*-c-80-UTFENC
XTerm.fontMenu.font3.Label:     Medium
#else
#if WIDTH > 1150
#define ISOFONT   FIXED-normal--14-*-*-*-c-*-ISOENC
#define UTFFONT   FIXED-normal--14-*-*-*-c-*-UTFENC
#define ISOFONT2  FIXED-semicondensed--13-*-*-*-c-*-ISOENC
#define UTFFONT2  FIXED-semicondensed--13-*-*-*-c-*-UTFENC
XTerm.fontMenu.font3.Label:     Normal
#else
#if WIDTH < 800
#define ISOFONT   FIXED-normal--13-*-*-*-c-*-ISOENC
#define UTFFONT   FIXED-normal--13-*-*-*-c-*-UTFENC
#define ISOFONT2  FIXED-semicondensed--13-*-*-*-c-*-ISOENC
#define UTFFONT2  FIXED-semicondensed--13-*-*-*-c-*-UTFENC
XTerm.fontMenu.font3.Label:     Normal
#else
#if WIDTH < 1000
#define ISOFONT   FIXED-normal--10-*-*-*-c-*-ISOENC
#define UTFFONT   FIXED-normal--10-*-*-*-c-*-UTFENC
#define ISOFONT2  FIXED-semicondensed--13-*-*-*-c-*-ISOENC
#define UTFFONT2  FIXED-semicondensed--13-*-*-*-c-*-UTFENC
XTerm.fontMenu.font3.Label:     Normal
#else
#define ISOFONT   FIXED-semicondensed--13-*-*-*-c-*-ISOENC
#define UTFFONT   FIXED-semicondensed--13-*-*-*-c-*-UTFENC
#define ISOFONT2  FIXED-normal--13-*-*-*-c-*-ISOENC
#define UTFFONT2  FIXED-normal--13-*-*-*-c-*-UTFENC
XTerm.fontMenu.font3.Label:     Large
#endif
#endif
#endif
#endif
XTerm.VT100.font:         ISOFONT
XTerm.font:               ISOFONT
XTerm*boldFont:           ISOFONT
XTerm*font3:              ISOFONT2
XTerm*utf8Fonts.font:     UTFFONT
XTerm*utf8Fonts.boldFont: UTFFONT
XTerm*utf8Fonts.font3:    UTFFONT2

XTerm.fontMenu.fontdefault.Label: Default
XTerm*font1:            -schumacher-clean-medium-r-normal--6-*-*-*-c-*-*-*
XTerm*utf8Fonts.font1:  FIXED-normal--6-*-*-*-c-*-UTFENC
XTerm.fontMenu.font1.Label:   Tiny
XTerm*font2:            FIXED-normal--7-*-*-*-c-*-ISOENC
XTerm*utf8Fonts.font2:  FIXED-normal--7-*-*-*-c-*-UTFENC
XTerm.fontMenu.font2.Label:   Small
XTerm*font4:            FIXED-normal--20-*-*-*-c-*-ISOENC
XTerm*utf8Fonts.font4:  FIXED-normal--18-*-*-*-c-*-UTFENC
XTerm.fontMenu.font4.Label:   Huge
XTerm*font5:            -sony-fixed-medium-r-normal--24-*-*-*-c-*-*-1
XTerm*utf8Fonts.font5:  FIXED-normal--20-*-*-*-c-*-UTFENC
XTerm.fontMenu.font5.Label:   Gigantic
XTerm*font6:            -dosemu-vga-medium-r-normal--17-*-*-*-p-*-*-*
XTerm*utf8Fonts.font6:  -*-clean-medium-r-normal--12-*-*-*-c-*-UTFENC
XTerm.fontMenu.font6.Label:   VGA
XTerm*faceSize: 10

!## RXVT {{{1
#define UNIVGA -bolkhov-vga-medium-r-normal--16-*-*-*-c-80-UTFENC
#define TERMINUS14 -*-terminus-medium-r-normal--14-*-*-*-c-*-UTFENC
#define TERMINUS16 -*-terminus-medium-r-normal--16-*-*-*-c-*-UTFENC

Rxvt*scrollBar:    false
Rxvt*background:   #000000
Rxvt*foreground:   #aaaaaa
!Rxvt*font:         ISOFONT
!Rxvt*boldFont:     ISOFONT
Rxvt*visualBell:   true
URxvt.urgentOnBell: true
URxvt.termName: rxvt-256color
URxvt.underlineColor: #777777
#if WIDTH > 1800
URxvt*keysym.C-F1:command:\033]710;FIXED-normal--20-*-*-*-c-*-UTFENC\007
#elif WIDTH > 1450
URxvt*keysym.C-F1: command:\033]710;TERMINUS16,UTFFONT\007
#else
URxvt*keysym.C-F1: command:\033]710;UTFFONT\007
#endif
URxvt*keysym.C-F2: command:\033]710;FIXED-normal--6-*-*-*-c-*-UTFENC\007
URxvt*keysym.C-F3: command:\033]710;FIXED-normal--7-*-*-*-c-*-UTFENC\007
URxvt*keysym.C-F4: command:\033]710;FIXED-normal--8-*-*-*-c-*-UTFENC\007
!URxvt*keysym.C-F5: command:\033]710;FIXED-normal--9-*-*-*-c-*-UTFENC\007
URxvt*keysym.C-F5: command:\033]710;FIXED-normal--10-*-*-*-c-*-UTFENC\007
URxvt*keysym.C-F6: command:\033]710;FIXED-semicondensed--13-*-*-*-c-*-UTFENC\007
URxvt*keysym.C-F7: command:\033]710;FIXED-normal--13-*-*-*-c-*-UTFENC\007
!URxvt*keysym.C-F8: command:\033]710;FIXED-normal--14-*-*-*-c-*-UTFENC\007
URxvt*keysym.C-F8: command:\033]710;TERMINUS14,FIXED-normal--13-*-*-*-c-80-UTFENC\007
URxvt*keysym.C-F9: command:\033]710;TERMINUS16,FIXED-normal--18-*-*-*-c-*-UTFENC\007
URxvt*keysym.C-F10:command:\033]710;FIXED-normal--18-*-*-*-c-*-UTFENC\007
URxvt*keysym.C-F11:command:\033]710;FIXED-normal--20-*-*-*-c-*-UTFENC\007
URxvt*keysym.C-F12:command:\033]710;xft:Mono:pixelsize=20\007
URxvt*keysym.C-9:  command:\033]720;12\007
URxvt*keysym.C-0:  command:\033]721;12\007
URxvt*keysym.XF86Back: \033[d
URxvt*keysym.XF86Forward: \033[c
URxvt.keysym.C-1:      perl:matcher
URxvt.keysym.C-grave:  perl:matcher:list
#if WIDTH > 1800
URxvt.font: FIXED-normal--20-*-*-*-c-*-UTFENC
#elif WIDTH > 1450
URxvt.font: TERMINUS16,UTFFONT
#else
URxvt.font:        UTFFONT
#endif
URxvt.boldFont:
URxvt.iso14755_52: false
URxvt.perl-lib:    HOME/.perl/urxvt
URxvt.perl-ext:    default,searchable-scrollback<C-S-plus>,matcher<C-1>,selection-pastebin,remote-clipboard,selection-autotransform
URxvt.perl-eval:   push @{ $urxvt::TERM->{selection_popup_hook} }, \n\
	sub { /\\n/ ? ("join lines with spaces" => sub {  s{^\\s+}{}mg; s/ \*\\n/ /g; s{ $}{}; }) : () }, \n\
	sub { /./ ? ("string quote" => sub {  s([\\\\\\042$@]|#[{])(\\\\$&)g; s{\\n}{\\\\n}g; s{\\t}{\\\\t}g; s{\\r}{\\\\r}g; s{[\\000-\\037]}{sprintf("%03o",ord($&))}eg; $_ = qq("$_"); }) : () }, \n\
	sub { /\\n\\[?\\d\\d(\\d\\d-|:)\\d\\d/ ? ("quote for irc" => sub { s{^\\[?[\\d:_-]+\\]? +}{}; s/\\s*\\n\\[?[\\d:_-]{5,}\\]? +/ || /g; s/^\\s+/ /mg; s/( ?) \*\\n( ?)/($1||$2)/eg; s{ $}{}; }) : () };
URxvt.urlLauncher: tpope browse
URxvt.selection-pastebin.cmd: scp -p % tpo.pe:pastes
URxvt.selection-pastebin.url: http:\/\/tpo.pe/pastes/%
URxvt.remote-selection.store: ssh tpo.pe 'cat >/tmp/tpope-distributed-selection'
URxvt.remote-selection.fetch: ssh tpo.pe 'cat /tmp/tpope-distributed-selection'
URxvt.selection-autotransform.0: if(/\\n\\[?\\d\\d(\\d\\d-|:)\\d\\d/) { s{^\\[?[\\d:_-]+\\]? +}{}; s/\\s*\\n\\[?[\\d:_-]{5,}\\]? +/ || /g; s/^\\s+/ /mg; s/( ?) \*\\n( ?)/($1||$2)/eg; s{ $}{}; };
URxvt.selection-autotransform.1: if(/^irb.*?> /) { s{^irb.*?[>*]\\s*}{}mg; s/\\n=>/ #=>/mg; s{\\n$}{};}
URxvt.selection-autotransform.2: if(m{^[ab]/}) { s{^[ab]/}{}g; }
URxvt.selection-autotransform.3: s/^([^:\\s]*):(\\d+)(:|:in)?$/+$2 $1/g;

!## XCONSOLE {{{1
XConsole*file: /dev/xconsole
XConsole*verbose: true
XConsole*saveLines: 128
XConsole*geometry: 364x225-90-40
XConsole*font: 5x7
!## XOSVIEW {{{1
xosview*background: #666
xosview*interrupts: false
!## CLOCK {{{1
Clock*hour: red
Clock*minute: blue
Clock*jewel: black
Clock*BorderColor: darkgreen
Clock*Background: white

XClock*font: FIXED-normal--8-80-75-75-c-50-ISOENC
! }}}1
!## XBIFF {{{1
XBiff*volume: 80
XBiff*flip: false
XBiff*updates: 10
XBiff*fullPixmap: mailfull
XBiff*fullPixmapMask: mailfullmsk
XBiff*emptyPixmap: mailempty
XBiff*emptyPixmapMask: mailemptymsk
!XBiff*shapeWindow: true

XFaces.facedbPath:	.picons:/home/tpope/.picons:/usr/share/picons:/usr/share/picons/users:/usr/share/picons/domains:/usr/share/picons/unknown:/usr/lib/picon/:/usr/lib/picon/users:/usr/lib/picon/domains:/usr/lib/picon/unknown
!## XDVI {{{1
XDvi.editor: vim -g --remote +%l %f
!XDvi.editor: vim -c ":RemoteOpen +%l %f"
XDvi.wwwBrowser: tpope browse
#if HEIGHT > 1024
XDvi.geometry: 746x900+50+0
#else
XDvi.geometry: 746x700+50+0
#endif
XDvi.shrinkFactor: 7
XDvi.expert: true
XDvi.Margin: 1in
XDvi.paper: us
XDvi.mainTranslations: #override \
	<Btn1Down>: do-href()magnifier(*1)\n\
	<Btn2Down>: do-href-newwindow()source-special()\n\
	<Btn3Down>: magnifier(*3)\n
!Technically  for xfig
Fig.inches: true
! }}}1
!## XMESSAGE {{{1
Xmessage.defaultButton: okay
! }}}1
!## XSCREENSAVER {{{1
XScreenSaver.dpmsEnabled: true
XScreenSaver.splash: false
XScreenSaver.ignoreUninstalledPrograms: true
XScreenSaver.loadURL: tpope browse '%s'
XScreensaver.captureStderr: false
XScreensaver.overlayStderr: false
! }}}1
!## XCOLORSEL {{{1
Xcolorsel*displayFormat: #rrggbb
! }}}1
